/* Show it is fixed to the top */

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.navbar-collapse {
  flex-grow: 0;
}

form-control, me-2{
  background-color: #8497B0;
}

input.form-control.me-2 {
  background-color: #8497B0;
}

input.form-control.me-2::placeholder{
  color: #e6e3e3;
  font-weight: bold;
}

.btn-outline-success {
  min-width: 76px;
  color: #b8bbba;
  border-color: #b8bbba;
}

.btn-outline-success:hover {
  color: #e6e3e3;
  font-weight: bold;
  background-color: #8497B0;
  border-color: #b8bbba;
}

.btn-check:focus+.btn-outline-success, .btn-outline-success:focus {
  box-shadow: 0 0 0 .25rem #8497B094;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.navbar-collapse {
  flex-grow: 0;
}

.btn-gest{
width: auto;
color: rgb(80, 120, 196);
border-color: rgb(80, 120, 196);
}

.btn-carac{
min-width: 76px;
color: rgb(80, 120, 196);
border-color: rgb(80, 120, 196);
}

.btn-modif{
color: rgb(120, 175, 83);
border-color: rgb(120, 175, 83);
}

.row-gest{
padding-right: 10px;
padding-bottom: 10px;
}

.col-gest{
padding-right: 20px;
}

.form-control{
  width: auto;
}

.tt-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  padding: 8px 0;
  width: 98%;
}

.tt-suggestion {
  padding: 3px 20px;
}

.tt-suggestion:hover {
  cursor: pointer;
  background-color: #0097CF;
  color: #FFFFFF;
}
.tt-suggestion p {
  margin: 0;
}